{% extends "base-admin.html" %}

{% block title %}
    MPoint Uses
{% endblock title %}
{% block content %}

<h1>
    M-Points Collected at Regdesk
</h1>

<table>
    <thead>
        <td>
            Total
        </td>
        <td>
            Group
        </td>
        <td>
            Breakdown
        </td>
    </thead>

    {% for total,group,mpus in all %}
    <tr>
        <td>${{ total }}</td>
        <td>
            {% if group %}
                <a href="../groups/form?id={{ group.id }}">{{ group.name }}</a>
            {% else %}
                No Group
            {% endif %}
        <td>
            <ul>
                {% for mpu in mpus %}
                    <li>
                        ${{ mpu.amount }} from 
                        {% if mpu.attendee %}
                            <a href="../registration/form?id={{ mpu.attendee.id }}">{{ mpu.attendee.full_name }}</a>
                        {% else %}
                            {{ mpu.identifier }}
                        {% endif %}
                        at {{ mpu.when }}
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
