{% extends "base-admin.html" %}

{% block title %}
    Email Addresses By Interest
{% endblock title %}

{% block content %}

    <h1>
        Emails by Interest
    </h1>

    Use this page to generate a CSV file of emails of people interested in hearing about a particular area of
    {{ c.EVENT_NAME }}.

    <form action="emails_by_interest_csv">
        Generate list of emails from attendees matching any of the following:
        {% checkgroup Attendee.interests %}
        <button name="submit">Submut</button>
    </form>

{% endblock content %}
