{% extends "base-admin.html" %}
{% block title %}Automated Emails Pending Approval{% endblock %}
{% block content %}

<h1>
    Pending Emails Requiring Approval
</h1>

<table>
    <thead>
        <tr>
            <td>
                Subject
            </td>
            <td>
                Sender
            </td>
            <td>
                Examples
            </td>
            <td>
                Approve
            </td>
        </tr>
    </thead>
    <tbody>
        {% for email in pending %}
            <tr>
                <td>
                    {{ email.subject }}
                </td>
                <td>
                    {{ email.sender }}
                </td>
                <td>
                    <a href="pending_examples?subject={{ email.subject|urlencode }}">
                        See Examples
                    </a>
                </td>
                <td>
                    <form method="post" action="approve">
                    {% csrf_token %}
                    <input type="hidden" name="subject" value="{{ email.subject }}">
                    <input type="submit" value="Approve">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
