{% extends "base-admin.html" %}

{% block title %}
    Example Automated Emails
{% endblock title %}

{% block content %}

<h1>
    {{ subject }}
</h1>

    <a href="pending">
        Return to pending email list
    </a>


{% if examples %}
    The following are some examples of the {{ count }} emails that will be sent once this email is approved:
{% else %}
    Nobody matches the email criteria.  Perhaps the email is time-based and it's not yet time for it to be sent out?
{% endif %}

{% for url, email in examples %}
    {% if url %}
        <h3>
            <a href="{{ url }}">
                Source
            </a>
        </h3>
    {% endif %}
    <pre>{
        { email }}
    </pre>
{% endfor %}

{% endblock content %}
