{% extends "base-admin.html" %}

{% block title %}
    Test Email Sending
{% endblock title %}

{% block content %}

<h1>
    Send a test email from RAMS. Please use with care.
</h1>

<form action="test_email" method="post">
    <ul>
        <li>
            <label for="to_address">To:</label>
            <input type="email" id="to_address" name="to_address" value="{{to_address}}">
        </li>
        <li>
            <label for="from_address">From:</label>
            <input type="email" id="from_address" name="from_address" value="{{from_address}}">
        </li>
        <li>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" value="{{subject}}">
        </li>
        <li>
            <label for="body">Message Body:</label>
            <textarea id="body" name="body">{{body}}</textarea>
        </li>
        <li>
            <button type="submit">
                Send
            </button>
        </li>
    </ul>
</form>

{% endblock %}
