    .navbar {
        margin-bottom: 0px;
    }
    .loader_link {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 25%;
        z-index: 9999;
        background: rgb(249,249,249) url('../static/images/loading.gif?{% random_hash %}') no-repeat center center;
        background-size: 50%;
    }
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
        background: rgb(249,249,249);
    }

        html, body{
            height: 100%;
            margin: 0;
            padding: 0;
            /** To edit this background, follow this link:
            http://svgeneration.com/generate/Graph-Paper?size=20&background=ffffff&lines=cccccc&line-width=1&turbulence=0.1&
            */
            background-color: #ffffff;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMzAwIDMwMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzIwJyBoZWlnaHQ9JzIwJyB2aWV3Qm94PScwIDAgNDAgNDAnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoNDB2NDBoLTQwdi00MCcgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNjY2NjY2MnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg==');
        }
        .container-fluid{
            height: 100%;
            display: table;
            width: 100%;
            padding: 0;
        }
        .jumbotron {background-color: #ffffff;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMzAwIDMwMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzIwJyBoZWlnaHQ9JzIwJyB2aWV3Qm94PScwIDAgNDAgNDAnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoNDB2NDBoLTQwdi00MCcgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNjY2NjY2MnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg==');}
        .centering {
            float: none;
            margin: 0 auto;
        }
        .btn-xl {
            padding: 24px 36px;
            font-size: 42px;
            border-radius: 12px;
        }

#floating_logo {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -20;
    opacity: 0.2;
}

#devbox_text {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: -21;
    opacity: 0.5;
	padding: 5px;
	font-size: large;
	color: #ff0000;
	text-shadow: 1px 1px 0px #000000;
}

#devbox_cautiontape {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	z-index: -22;
	background-image: url("../static/theme/caution.jpg");
	background-repeat: repeat-x;
    opacity: 0.1;
}

.masthead {
    height:200px;
    background-image:url("../theme/banner.png");
    background-repeat:no-repeat;
    background-position: center;
}

#mainContainer{
    max-width:840px;
}

body {
    background-color: GhostWhite;
    background-image: url("../theme/tile-background.jpg");
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.col-centered{
    float: none;
    margin: 0 auto;
}

#badge-types {
    margin-bottom: 0px;
}
.reg-type-selector, .badge-type-selector {
    cursor: pointer;
}

.optional-field {
    font-weight: normal;
}

.heading-label {
    font-weight: 700;
}

.warning {
    font-weight: bold;
    background-color: pink;
}

.panel.panel-default {
    padding-top: 15px;
}

.prereg-price-notice, .prereg-type-closing {
    color: #CC0000;
}
.active .prereg-price-notice, .active .prereg-type-closing {
    color: #FFCC66;
}

a, a:visited {
    color:           blue;
    text-decoration: none;
}
a:hover {
    color:           red;
    text-decoration: underline;
}

a.withtooltip, a.withtooltip:hover {
    color:           black;
    font-style:      italic;
    text-decoration: none;
}

a.closer {
    border: 2px solid black;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    text-align: center;
}

ul {
    margin: 0px;
}

table {
    width:          100%;
    border-spacing: 5px;
}
td {
    padding: 5px;
}

table.calendar {
    width:          auto;
    border:         2px solid black;
    text-align:     center;
    border-spacing: 5px;
}
table.calendar td {
    border:  1px solid black;
    padding: 15px;
}

table.menu {
    border-collapse: collapse;
    text-align:      center;
    margin-top:      10px;
    margin-bottom:   10px;
}
table.menu td {
    border: 2px solid gray;
}

table.list {
    width:           100%;
    text-align:      center;
    border-collapse: collapse;
}
table.list td {
    border:  1px solid black;
    padding: 5px;
}
table.list tr.header {
    background:     #99CCFF;
    font-weight:    bold;
    vertical-align: bottom;
}
table.list tr.header a,
table.list tr.header a:hover,
table.list tr.header a:visited {
    color:           black;
    text-decoration: none;
}
table.list table td {
    border:  0;
    padding: 0;
}

table.form {
    border-spacing: 5px;
}
table.form td:first-of-type {
    width: 1px;
    white-space: nowrap;
}
table.form td:last-of-type {
    width: auto;
    padding-left: 15px;
    white-space: normal;
}
table.form tr.dealer td {
    white-space: normal;
    vertical-align: top;
}

span.popup {
    font-size: 10px;
}

.rating img {
    margin-left: 25px;
    cursor: pointer;
}

.charge {
    width: auto;
    border-spacing: 2px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.charge thead {
    font-weight: bold;
    text-align: center;
}
.charge td {
    padding: 10px;
    border: 1px solid black;
}

ul.select2-results {
    max-height: 300px;
}
.select2-bolded {
    font-weight: bold;
    font-size: 16pt;
}

.pad-top-10 li {
    padding-top: 10px;
}

.center {
    text-align: center;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
    img {
        height: 24px;
        width: 24px;
    }
    tbody {
        border: 3px solid black;
    }
    th div {
        width: 1.2em;
        display: block;
        white-space: nowrap;
        filter: flipv fliph;
        writing-mode: tb-rl;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .dept-head {
        padding-right: 25px;
    }
    .dept {
        text-align: center;
        padding-top: 25px;
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;
    }
