{% extends "./preregistration/preregbase.html" %}

{% block title %}
    Add Members to {{ group.name }}
{% endblock title %}

{% block content %}

<h1>
    Add Members to {{ group.name }}
</h1>

You've indicated you'd like to add {{ count }} {{ group.is_dealer|yesno:"Dealer Assistants,group members" }}, at a cost of ${{ charge.dollar_amount }}.

<table>
    <tr>
        <td>
            {% stripe_form pay_for_extra_members charge %}
        </td>
        <td>
            or
        </td>
        <td>
            <a href="group_members?id={{ group.id }}">
                {% stripe_button "Nevermind" %}
            </a>
        </td>
    </tr>
</table>

{% endblock content %}
