{% extends "./preregistration/preregbase.html" %}

{% block title %}
    You may be banned from {{ c.EVENT_NAME }}!
{% endblock title %}

{% block content %}

<h1>
    You may be banned from {{ c.EVENT_NAME }}!
</h1>

<p>
    Our list of banned people includes someone named <strong>{{ attendee.full_name }}</strong>.  Every banned attendee has been told they are banned, so if this is not a mistake then you should definitely know it.  However, if you just happen to have the same name as someone who has been banned, then go ahead and continue.  If we see someone on our banned list complete their registration then we'll contact you to validate that you're someone else.
</p>

    <a href="index">
        I'm someone else, let me pay!
    </a>

    <a href="delete?id={{ attendee.id }}">
        Well never mind then!
    </a>

{% endblock content %}
