<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-12">
                    <h1 class="text-center">{{ c.EVENT_NAME_AND_YEAR }} registration<br><br></h1>
                    <p class="text-center">
                        <a class="btn btn-primary btn-xl" href="../preregistration/" role="button">
                            Register for {{ c.EVENT_NAME_AND_YEAR }}
                        </a>
                        <br><br>
                    </p>
                    <p class="text-right">
                        <a class="btn btn-link btn-lg" href="../accounts/homepage" role="button">
                            Staff Login
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
