{% extends "base-admin.html" %}

{% block title %}
    Developer Utility - Git info
{% endblock title %}

{% block content %}

<h1>
    Git Info
</h1>

<h2>
    For local repository deployed on this server
</h2>

<pre>
    <strong>Current git branch:</strong> {{ git_branch_name|linebreaksbr }}
    <strong>Current commit SHA:</strong> {{ git_current_sha|linebreaksbr }}
    <strong>Last commit message:</strong> {{ last_commit_log|linebreaksbr }}
    <strong>Local 'git status':</strong>{{ git_status|linebreaksbr }}
</pre>

{% endblock content %}