
<script type="text/javascript">
    var mainMenuDropdownChanged = function () {
        window.location = $("#page").val() + "?location=" + $("#location").val();
    };
</script>

<table>
<tr>
    <td>
        <select id="location" onChange="mainMenuDropdownChanged()">
            <option>All</option>
            {% options c.JOB_LOCATION_OPTS location %}
        </select>
    </td>
    <td>
        <select id="page" onChange="mainMenuDropdownChanged()">
            {% options c.JOB_PAGE_OPTS c.PAGE %}
        </select>
    </td>
</tr>
</table>
