{% extends "base-admin.html" %}

{% block title %}
    Staffer Summary
{% endblock title %}

{% block content %}

{% include "jobs/main_menu.html" %}

<ul>
    <li>
        {{ attendees|length }} Staffers
    </li>
    <li>
        {{ counts.regular_signups }} / {{ counts.regular_total }} Regular Hours Taken
    </li>
    <li>
        {{ counts.restricted_signups }} / {{ counts.restricted_total }} Restricted Hours Taken
    </li>
    <li>
        {{ counts.all_signups }} / {{ counts.all_total }} Total Hours Taken
    </li>
</ul>

{% if checklist.relevant %}
    {% if checklist.completed %}
        You've already indicated that this list is valid, please email STOPS if this is incorrect.
    {% else %}
        <a href="#" onClick="$('#checkoff').show(); return false;">
            As a head of this department, this looks good to me.
        </a>

        <form id="checkoff" method="post" action="../dept_checklist/mark_item_complete">
        {% csrf_token %}
        <input type="hidden" name="slug" value="{{ checklist.conf.slug }}">
        By clicking this button, you are telling us you've reviewed your volunteers and confirmed:
        <ul>
            <li>
                that no one is assigned to your department who shouldn't be, such as problem volunteers from previous years
            </li>
            <li>
                that no one is missing who you'd expect to be assigned here, such as staffers from previous years
            </li>
            <li>
                <button type="submit">
                    I Confirm This All Looks Good
                </button>
            </li>
        </form>

    {% endif %}
{% endif %}

<h3>
    Staffers Assigned to This Area
</h3>
(<a href="mailto:eli@courtwright.org?bcc={{ emails }}">
    email these staffers
</a>)

<table>
    <thead>
        <tr>
            <th>
                Attendee Name
            </th>
            <th>
                Badge
            </th>
            <th>
                [D]
            </th>
            <th>
                [T]
            </th>
            <th>
                [M]
            </th>
            <th>
                [L]
            </th>
            <th>
                Placeholder
            </th>
            <th>
                Hours Here
            </th>
            <th>
                Hours Total
            </th>
            <th>
                Checked In
            </th>
        </tr>
    </thead>
    <tbody>
    {% for attendee in attendees %}
        <tr>
            <td data-order="{{ attendee.full_name }}" data-search="{{ attendee.full_name }}">
                <a href="../registration/shifts?id={{ attendee.id }}">
                    {{ attendee.full_name }}
                </a>
            </td>
            <td>
                {{ attendee.badge_num }}
            </td>
            <td>
                {% if attendee.is_dept_head %}[D]{% endif %}
            </td>
            <td>
                {% if attendee.trusted_here %}[T]{% endif %}
            </td>
            <td>
                {% if attendee.multiply_assigned %}[M]{% endif %}
            </td>
            <td>
                {% if attendee.can_work_setup or attendee.can_work_teardown %}[L]{% endif %}
            </td>
            <td>
                {{ attendee.placeholder }}
            </td>
            <td>
                {{ attendee.hours_here }}
            </td>
            <td>
                {{ attendee.weighted_hours }}
            </td>
            <td>
                {{ attendee.checked_in|yesno:"Checked In,Not Checked In" }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <ul>
        <li>
            [D]: Staffers marked with a "D" are department heads.
        </li>
        <li>
            [M]: Staffers marked with a "M" are assigned to multiple locations
        </li>
        <li>
            [T]: Staffers marked with a "T" are trusted {% if location %}in this department{% else %}in at least one department{% endif %}
         </li>
        <li>
           [L]: Staffers marked with a "L" are working load-in and/or load-out
        </li>
    </ul>

{% endblock content %}
