{% extends "base-admin.html" %}

{% block title %}
    Department Checklist - {{ item.name }}
{% endblock title %}

{% block content %}

<h1>
    {{ conf.name }}
</h1>

<form method="post" action="form">
    {{ conf.description }}
    <input type="hidden" name="slug" value="{{ item.slug }}" />
    {% csrf_token %}

    <textarea name="comments" rows="5" cols="80">{{ item.comments|default:"" }}</textarea>

    <button type="submit">
        Upload
    </button>

    {% if item.is_new %}
        <p>
            Note: please submit this even if this doesn't apply to you so we know you don't need anything from us.
        </p>
    {% endif %}
</form>

{% endblock content %}
