{% extends "base-admin.html" %}

{% block title %}
    Department Checklist - {{ conf.name }}
{% endblock title %}

{% block content %}

<h1>
    Department Checklist: {{ conf.name }}
</h1>

{{ conf.description }}

<table>
{% for dept, dept_name, heads in overview %}
    <tr>
        <td colspan="2">
            <h3>
                {{ dept_name }}
            </h3>
        </td>
    </tr>
    {% for attendee, item in heads %}
        <tr>
            <td>
                {{ attendee|form_link }}
            </td>
            {% if attendee.admin_account %}
                <td>
                    {% if item %}
                        Completed
                    {% else %}
                        not complete
                    {% endif %}
                </td>
                <td>
                    {{ item.comments|linebreaks }}
                </td>
            {% else %}
                <td colspan="2">
                    This dept head doesn't have an admin account.
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
</table>

{% endblock %}
