{% extends "base-admin.html" %}

{% block title %}
    Department Checklist
{% endblock title %}

{% block content %}

<h1>
    Department Head Checklist
</h1>

<ul>
    <li>
        <img src="../static/images/x.png" /> Department head has missed deadline for this step
    </li>
    <li>
        <img src="../static/images/warn.jpg" /> Deadline is approaching and step isn't yet complete
    </li>
    <li>
        <img src="../static/images/checkbox_checked.png" /> Department head has marked this step as complete
    </li>
    <li>
        <img src="../static/images/checkbox_unchecked.png" /> Department head hasn't yet completed this step, but the deadline isn't close
    </li>
</ul>

<table>
<tr>
    <th><div>Department Head</div></th>
    {% for conf in checklist %}
        <th><div><a href="item?slug={{ conf.slug }}">{{ conf.name }}</a></div></th>
    {% endfor %}
</tr>
    <tbody>
    {% for dept, dept_name, heads in overview %}
        <tr>
            <td colspan="checklist|length|add:1" class="dept">
                {{ dept_name }}
            </td>
        </tr>
        {% for attendee, items in heads %}
            <tr>
                <td class="dept-head" title="{{ attendee.email }} / {{ attendee.cellphone }}">{{ attendee|form_link }}</td>
                {% if attendee.admin_account %}
                    {% for item in items %}
                        <td>
                            {% if item.done %}
                                <img title="{{ item.name }}" src="../static/images/checkbox_checked.png" />
                            {% elif item.approaching %}
                                <img title="{{ item.name }}" src="../static/images/warn.jpg" />
                            {% elif item.missed %}
                                <img title="{{ item.name }}" src="../static/images/x.png" />
                            {% else %}
                                <img title="{{ item.name }}" src="../static/images/checkbox_unchecked.png" />
                            {% endif %}
                        </td>
                    {% endfor %}
                {% else %}
                    <td colspan="{{ checklist|length }}">
                        This dept head doesn't have an admin account.
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
