{% extends "base-admin.html" %}

{% block title %}
    Department Checklist
{% endblock title %}

{% block content %}

<h1>
    Department Head Checklist
</h1>

<ul>
    <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-times-circle fa-stack-2x"></i>
        </span>
        Department head has missed deadline for this step
    </li>
    <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-exclamation-triangle fa-stack-2x"></i>
        </span>
        Deadline is approaching and step isn't yet complete
    </li>
    <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
        </span>
        Department head hasn't yet completed this step, but the deadline isn't close
    </li>
    <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-check fa-stack-1x"></i>
        </span>
        Department head has marked this step as complete
    </li>
</ul>

<table>
<tr>
    <thead>
        Department Head
    </thead>
    {% for conf in checklist %}
        <th>
            <a href="item?slug={{ conf.slug }}">
                {{ conf.name }}
            </a>
        </th>
    {% endfor %}
</tr>
    <tbody>
    {% for dept, dept_name, heads in overview %}
        <tr>
            <td colspan="checklist|length|add:1" class="dept">
                {{ dept_name }}
            </td>
        </tr>
        {% for attendee, items in heads %}
            <tr>
                <td class="dept-head" title="{{ attendee.email }} / {{ attendee.cellphone }}">{{ attendee|form_link }}</td>
                {% if attendee.admin_account %}
                    {% for item in items %}
                        <td>
                            {% if item.done %}
                                <img title="{{ item.name }}" src="../static/images/checkbox_checked.png" />
                            {% elif item.approaching %}
                                <img title="{{ item.name }}" src="../static/images/warn.jpg" />
                            {% elif item.missed %}
                                <img title="{{ item.name }}" src="../static/images/x.png" />
                            {% else %}
                                <img title="{{ item.name }}" src="../static/images/checkbox_unchecked.png" />
                            {% endif %}
                        </td>
                    {% endfor %}
                {% else %}
                    <td colspan="{{ checklist|length }}">
                        This dept head doesn't have an admin account.
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
