{% extends "base-admin.html" %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}

<h2>
    Change Password
</h2>

<form method="post" action="change_password">
{% csrf_token %}
    <ul>
        <li>
            <label for="old_password">Old Password:</label>
            <input class="focus" type="password" name="old_password" id="old_password">
        </li>
        <li>
            <label for="new_password">New Password:</label> <br/>
            <input type="password" name="new_password" id="new_password">
        </li>
        <li>
            <button type="submit">
                Change Password
            </button>
        </li>
    </ul>
</form>

{% endblock content%}
