{% extends "base-admin.html" %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

<h1>
    Admin Login
</h1>

    <form class="form-signin" role="form" method="post" action="login">
        <label for="email">
            Email Address
        </label>
        <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required autofocus>
        <label for="password">
           Password
        </label>
        <input type="password" class="form-control" id="password" name="password" required>
        <button type="submit">
            Sign in
        </button>
    </form>

 <div class="text-center">
	{% if c.AT_THE_CON %}
		Contact STOPS if you've forgotten your username/password.
    {% else %}
        <a href="reset">Forgot your password?</a>
    {% endif %}

    <h5>
        Note: This login is for administrators only
    </h5>
    <p>
        If you are a staffer wanting to sign up for shifts, you may <a href="../signups/login">log in here</a>.
    </p>

{% endblock content %}
