{% extends "base-admin.html" %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}

<h2>
    Forgot Your Password?
</h2>

<p>
    Enter your email address to have a new password generated and emailed to you.
    This password will be valid for 7 days; you should change it as soon as you log in.
    Your old password will still work in the meantime, in case you remember it before then.
</p>

<form method="post" action="reset">
    <ul>
        <li>
            <label for="email">
                Email Address
            </label>
            <input class="focus" type="email" id="email" name="email" value="{{ email|default:"" }}">
        </li>
        <li>
            <button type="submit">
                Submit
            </button>
        </li>
    </ul>
</form>

{% endblock content %}
